<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Photo Gallary</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jQuery.tmpl.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
<body>
    <div class="navbar navbar-inverse  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="container">
                    <div class="navbar-left navbar-brand"><a href="/home/index" class="navbar-link"><span class="glyphicon glyphicon-home"></span>  PhotoGallary</a></div>
                    <div>
                    </div>
                    @*<div class="navbar-brand navbar_genres"><a class="navbar-link" id="linkGenres"><span class="glyphicon glyphicon-list"></span>GENRES</a></div>*@
                    <div class="navbar-right navbarMargin"><a href="/admin/index" class="navbar-link"><span class="glyphicon glyphicon-cog"></span>Admin panel</a></div>
                    @{
                        if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <div class="navbar-right navbarMargin">
                                <label class="text-muted">@HttpContext.Current.User.Identity.Name</label> |
                                <a href="/account/logout" class="navbar-link">@*<span class="glyphicon glyphicon-user"></span>*@LogOut</a>
                            </div>
                        }
                        else
                        {
                            <div class="navbar-right navbarMargin"><a href="/account/login" class="navbar-link"><span class="glyphicon glyphicon-user"></span>LogIn</a></div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>




    @*<script id="genresTmpl" type="text/x-jquery-tmpl">
        <li class="navBarMenu" id="${Id}"><a class="navbar-link nav-justified" href="/home/genre/${Id}" id="${Id}">${Name}</a></li>
    </script>*@

    <div class="container body-content">
        @*<div class="row">
            <div class="col-md-2 col-sm-2 navbar-fixed-top">
                <ul class="nav nav-stacked nav-pills" id="navTabsGanres"></ul>
            </div>
            <div class="col-md-10 col-sm-2">
                @RenderBody()
            </div>
        </div>*@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Photo Gallary</p>
        </footer>
    </div>



</body>
</html>